aniso8601==9.0.1
click==8.0.3
colorama==0.4.4
distlib==0.3.4
filelock==3.3.1
Flask==1.1.2
Flask-RESTful==0.3.9
gunicorn==58.0.4
itsdangerous==2.0.1
Jinja2==2.11.3
joblib==1.1.0
MarkupSafe==1.1.1
numpy==1.22.4
pandas==1.3.4
platformdirs==2.5.2
python-dateutil==2.8.2
pytz==2021.3
six==1.16.0
virtualenv==20.14.1
Werkzeug==2.0.2
